img {
	height: 30vh;
	margin-left: 6%;
}

h1 {
	font-size: 3em;
	color: rgb(199, 102, 173);
}

p {
	font-size: 1em;
	text-align: left;
	margin-right: 3%;
	color: rgb(199, 102, 173);
	font-weight: bold;
}

button {
	color: rgb(199, 102, 173);
	border: none;
	background-color: rgb(247, 200, 112);
	font-size: 2em;
	font-weight: bold;
}

.header {
	width: 100vw;
	height: 15vh;
	border: solid;
	border-color: rgb(247, 200, 112);
	background-color: rgb(247, 200, 112);
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 40%;
}

.app-title {
	margin-left: 5vw;
}

.nav-bar {
	display: flex;
	flex-direction: row;
	gap: 5vw;
}

.page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container {
	margin-top: 7%;
	border: solid;
	border-width: 7px;
	border-color: rgb(242, 154, 121);
	background-color: rgb(247, 200, 112);
	width: 57vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 33vw;
	contain: content;
}

.sub-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10%;
	margin-bottom: 7%;
}

.footer-container {
	width: 100vw;
	height: 12vh;
	margin-top: 3%;
	background-color: rgb(247, 200, 112);
}
